section.ad-section {
    margin-top: 6rem;
}

section.ad-section .transaction-container {
    display: flex;
    gap: 4rem;
}

section.ad-section .transaction-container .transaction-photo {
    display: grid;
    align-items: flex-end;
    width: max-content;
    max-height: 50rem;
    overflow: hidden;
}

section.ad-section .transaction-container .transaction-photo .transaction-photo-back {
    position: relative;
    isolation: isolate;
    grid-area: 1 / 1 / 1 / 1;
    width: 100%;
    height: 92%;
    background: var(--primary-dark-color);
}

section.ad-section .transaction-container .transaction-photo .transaction-photo-back::before {
    grid-area: 1 / 1 / 1 / 1;
    content: '';
    z-index: -1;
    position: absolute;
    left: 15%;
    top: 10%;
    width: 5rem;
    aspect-ratio: 1/1;
    border: 2rem var(--green-color) solid;
    border-radius: 50%;
}

section.ad-section .transaction-container .transaction-photo img {
    justify-self: end;
    position: relative;
    grid-area: 1 / 1 / 1 / 1;
    max-width: 100%;
    max-height: 100%;
}

section.ad-section .transaction-container .transaction-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    width: 50%;
}

section.ad-section .transaction-container .transaction-text small {
    color: var(--orange-color);
}

section.ad-section .transaction-container .transaction-text small::before {
    color: var(--orange-color);
}

section.ad-section .transaction-container .transaction-text h2 {
    color: var(--primary-dark-color);
}

section.ad-section .transaction-container .transaction-text p {
    color: var(--secondary-text-color);
}

section.ad-section .transaction-container .transaction-text .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    background-image: radial-gradient(#ECF0F5, var(--primary-light-color));
}

section.ad-section .transaction-container .transaction-text .cards-container > div {
    margin: 1rem 0;
    padding: 1.5rem;
    background: var(--primary-light-color);
}

section.ad-section .icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(var(--light-green-color), var(--green-color) 60%);
    box-shadow: 0 0.5rem 2rem -0.6rem var(--light-green-color);
}

section.ad-section .transaction-container .transaction-text .cards-container > div .icon-div {
    margin: 0.5rem 0 3rem 0;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
}

section.ad-section .transaction-container .transaction-text .cards-container > div img {
    width: 1rem;
}

section.ad-section .transaction-container .transaction-text .cards-container > div h3 {
    font-size: 1.18rem;
    font-weight: 600;
}

section.ad-section .ads-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 6rem 0;
    width: 100%;
    overflow-x: hidden;
}

section.ad-section .ads-container img {
    width: min-content;
    height: fit-content;
}

section.ad-section .why-invest-container {
    display: grid;
    grid-template-rows: 1fr 1fr auto;
}

section.ad-section .why-invest-container .why-container {
    grid-area: 1 / 1 / 3 / 1;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: var(--desktop-side-padding);
    padding: 3.5rem;
    background: var(--primary-light-color);
}

section.ad-section .why-invest-container .why-container small {
    color: var(--orange-color);
}

section.ad-section .why-invest-container .why-container p,
section.ad-section .why-invest-container .why-container span {
    font-size: 2.8rem;
    font-family: 'Times New Roman', Times, serif;
}

section.ad-section .why-invest-container .why-container span {
    color: var(--green-color);
}

section.ad-section .why-invest-container::before {
    content: '';
    grid-area: 2 / 1 / 4 / 1;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(at 10%, var(--secondary-dark-color), var(--primary-dark-color) 60%);
}

section.ad-section .why-invest-container .investment-container {
    grid-area: 3 / 1 / 4 / 1;
}

section.ad-section .why-invest-container .investment-container h2 {
    margin: auto;
    margin-block: 5rem;
    width: fit-content;
    color: var(--primary-light-color);
    font-size: var(--large-font-size);
    text-align: center;
}

section.ad-section .why-invest-container .investment-container .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 5rem;
}

section.ad-section .why-invest-container .investment-container .cards-container > div {
    display: grid;
    grid-template-rows: 12rem auto;
    justify-items: center;
    align-items: center;
    padding: 2rem;
    background: var(--secondary-dark-color);
}

section.ad-section .why-invest-container .investment-container .cards-container > div .icon-div {
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
}

section.ad-section .why-invest-container .investment-container .cards-container > div img {
    width: 2.5rem;
    aspect-ratio: 1/1;
}

section.ad-section .why-invest-container .investment-container .cards-container > div span {
    margin: 1rem;
    font-weight: 600;
    color: var(--primary-light-color);
    text-align: center;
}

@media (max-width: 1300px) {

}

@media (max-width: 1000px) {
    section.ad-section .transaction-container {
        flex-direction: column;
    }

    section.ad-section .transaction-container .transaction-text {
        width: 100%;
    }

    section.ad-section .transaction-container .transaction-photo {
        width: 100%;
    }
}

@media (max-width: 800px) {
    section.ad-section .why-invest-container .why-container {
        padding: 2.8rem;
    }

    section.ad-section .why-invest-container .why-container p,
    section.ad-section .why-invest-container .why-container span {
        font-size: 2.4rem;
    }
}

@media (max-width: 610px) {
    section.ad-section .why-invest-container .why-container {
        padding: 2rem;
    }

    section.ad-section .why-invest-container .why-container p,
    section.ad-section .why-invest-container .why-container span {
        font-size: 1.6rem;
    }
}