:root {
    --desktop-side-padding: 0 8rem;
    
    --primary-light-color: #ffffff;
    --primary-dark-color: #1B2534;
    --secondary-dark-color: #353E4C;
    --primary-light-text-color: #ffffff;
    --secondary-text-color: #8B9198;
    --green-color: #54B862;
    --light-green-color: #73D287;
    --orange-color: #FF6A28;
    --light-orange-color: #ff7940;
    --light-gray-shadow-color: rgba(0, 0, 0, 0.205);

    --largest-font-size: 4rem;
    --large-font-size: 3rem;
    --medium-font-size: 3rem;
    --mid-font-size: 1.4rem;

    --logo-url: url('../images/logo.png');
    --ios-logo-url: url('../images/ios.png');
    --android-logo-url: url('../images/android.png');
    --up-arrow-url: url('../images/up-arrow.png');
}

::selection {
    color: var(--primary-light-text-color);
    background: var(--light-orange-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

body {
    overflow-x: hidden;
}

section {
    display: flex;
    flex-direction: column;
    position: relative;
    isolation: isolate;
}

section.opening-section header,
section.opening-section .reviews-container,
section.opening-section .opening-container,
section.ad-section .transaction-container,
section.ad-section .ads-container,
section.ad-section .why-invest-container .investment-container,
section.exchange-section,
section.upcoming-event-section {
    padding: var(--desktop-side-padding);
}

section.ad-section,
section.exchange-section {
    margin-top: 6rem;
}

small {
    font-weight: 600;
}

small::before {
    content: '—';
    margin-left: 0.3rem;
    margin-right: 0.75rem;
}

h2 {
    font-size: var(--largest-font-size);
    font-weight: 600;
    line-height: 1.1;
}

section.ad-section .transaction-container .transaction-text,
section.exchange-section .exchange-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    width: 50%;
}


@media (max-width: 1100px) {
    :root {
        --desktop-side-padding: 0 7rem;
    }
}

@media (max-width: 1000px) {
    :root {
        --desktop-side-padding: 0 5.5rem;
    }
}

@media (max-width: 950px) {
    :root {
        --desktop-side-padding: 0 4rem;
    }
}

@media (max-width: 700px) {
    :root {
        --largest-font-size: 3.5rem;
        --large-font-size: 2.6rem;
    }
}

@media (max-width: 610px) {
    :root {
        --largest-font-size: 2.5rem;
        --large-font-size: 2.2rem;
        --desktop-side-padding: 0 2rem;
    }
}