section.exchange-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

section.exchange-section .chart-control {
    width: 100%;
    margin-block: auto;
}

section.exchange-section .chart-control .chart-svg polyline {
    fill: none;
    stroke: black;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.05rem;
    shape-rendering: geometricPrecision;
}

section.exchange-section .chart-control .chart-info {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 9rem;
    height: auto;
    padding: 1rem;
    border-radius: 0.2rem;
    background: var(--primary-light-color);
    box-shadow: 0 0 1rem 0.2rem var(--light-gray-shadow-color);
}

section.exchange-section .chart-control .chart-info .chart-info-value {
    font-size: 2rem;
    font-weight: 600;
}

section.exchange-section .chart-control .chart-info .chart-info-value > span {
    font-size: 0.8rem;
}

section.exchange-section .chart-control .chart-info .chart-info-date {
    color: var(--orange-color);
    font-size: 0.8rem;
}

section.exchange-section .chart-control .chart-info-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.75rem;
    background: var(--primary-light-color);
    box-shadow: 0 0 1rem 0.2rem var(--light-gray-shadow-color);
}

section.exchange-section .chart-control .chart-info-dot::after {
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.4rem;
    background-image: radial-gradient(var(--light-green-color), var(--green-color) 60%);
}

section.exchange-section .chart-control .chart-info-dot.hidden {
    display: none;
}

section.exchange-section .exchange-text {
    width: 100%;
    color: var(--secondary-text-color);
}

section.exchange-section .exchange-text small {
    color: var(--green-color);
}

section.exchange-section .exchange-text small::before {
    color: var(--green-color);
}

section.exchange-section .exchange-text h2 {
    color: var(--primary-dark-color);
}

section.exchange-section .exchange-text p {
    color: var(--secondary-text-color);
}

section.exchange-section .all-currencies {
    width: fit-content;
}


@media (max-width: 1300px) {

}

@media (max-width: 1000px) {
    section.exchange-section {
        grid-template-columns: auto;
        grid-template-rows: 1fr auto;

    }
    section.ad-section .transaction-container {
        flex-direction: column;
    }

    section.ad-section .transaction-container .transaction-text {
        width: 100%;
    }

    section.ad-section .transaction-container .transaction-photo {
        width: 100%;
    }
}

@media (max-width: 800px) {
    
}

@media (max-width: 610px) {
    
}