section.exchange-section .chart-control {
    position: relative;
    isolation: isolate;
}

section.exchange-section .chart-control .chart-svg {
    width: max-content;
    aspect-ratio: 1/1;
}

section.exchange-section .chart-control .chart-svg polyline {
    fill: none;
    stroke: black;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.1rem;
    shape-rendering: geometricPrecision;
}

section.exchange-section .chart-control .chart-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 8rem;
    height: auto;
    padding: 1rem;
    border-radius: 0.2rem;
    background: var(--primary-light-color);
    box-shadow: 0 0 1rem 0.2rem var(--light-gray-shadow-color);
    pointer-events: none;
    transition: top 200ms ease;
}

section.exchange-section .chart-control .chart-info.hidden {
    display: none;
}

section.exchange-section .chart-control .chart-info-dot {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    pointer-events: none;
    border-radius: 0.75rem;
    background: var(--primary-light-color);
    box-shadow: 0 0 1rem 0.2rem var(--light-gray-shadow-color);
}

section.exchange-section .chart-control .chart-info-dot::after {
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.4rem;
    background-image: radial-gradient(var(--light-green-color), var(--green-color) 60%);
}

section.exchange-section .chart-control .chart-info-dot.hidden {
    display: none;
}