footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    margin: var(--desktop-side-padding);
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 3rem;
    background: var(--primary-dark-color);
}

footer > div {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

footer > div > div {
    --link-gap: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--link-gap);
    max-height: calc(var(--link-gap) * 3 + 5rem);
}

footer > div h2 {
    font-size: 1.6rem;
    color: var(--primary-light-text-color);
}

footer > div a {
    width: fit-content;
    max-width: 10rem;
    text-decoration: none;
    color: var(--secondary-text-color);
}


@media (max-width: 1300px) {
    
}

@media (max-width: 1240px) {
    footer {
        margin: 0;
        margin-bottom: 0;
        margin-top: 4rem;
        padding: var(--desktop-side-padding);
        padding-block: 3rem;;
    }
}

@media (max-width: 1100px) {
    footer > div > div {
        max-height: none;
    }
}

@media (max-width: 800px) {
    section.opening-section::before {
        display: none;
    }
}

@media (max-width: 610px) {
    section.opening-section .opening-container .opening-text .download-container {
        flex-direction: column;
        align-items: flex-start;
    }

    section.opening-section #phone-img {
        max-height: 35rem;
    }

    section.opening-section .reviews-container {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding-top: 7.5rem;
    }
}